:root {
  --cor-primaria: #095513;
  --cor-secundaria: grey;
  --cor-terciaria: rgb(219, 219, 208);
  --cor-footer: #1f2821;
  --cor-quarta: white;
  --tamanho-fonte: 16px;
}

body {
  margin: 0;
  font-size: 12pt;
  min-height: 100vh;
}

#api-link {
  height: 3em;
  width: 3em;
  margin: 0.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85vw;
  margin: auto;
}
header {
  margin: auto;
  width: 85vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

header h1 {
  color: var(--cor-primaria);
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  flex-wrap: wrap;
}

input {
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#inputInicial {
  margin: auto;
  width: 80%;
  height: 3em;
  border: 2.5px solid var(--cor-secundaria);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#campoBusca {
  height: 94%;
  width: 90%;
  border-radius: inherit;
}

#btnBuscar {
  margin: auto;
  height: 100%;
  align-items: center;
  color: var(--cor-primaria);
  font-weight: 800;
}

#resultadoDaBusca {
  display: flex;
  margin: -0.5em auto;
  position: relative;
  z-index: 1;
  width: 70%;
  padding: 2.5% 5%;
  border-radius: 0.5em;
  background-color: transparent !important;
}

#opcoesBusca {
  width: 50%;
}
#resultado {
  width: 50%;
}

main img {
  height: 10em;
  width: 10em;
  border-radius: 0.5em;
}

#home {
  display: flex;
  flex-wrap: wrap;
}

.personagem-resposta {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-terciaria);
  width: 21em;
  height: 35em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1.2em;
  justify-content: start;
  border-radius: 1em;
  box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.1);
}
.personagem-resposta-img {
  width: 88%;
  height: 50%;
  margin: auto;
  border-radius: inherit;
}

.personagem-resposta-desc {
  width: 88%;
  margin: auto;
  font-size: 0.8em;
  font-weight: bold;
}

.personagem-resposta-desc h2 {
  font-size: 1.9em;
  font-weight: 800;
  color: var(--cor-primaria);
  text-align: center;
  margin-top: -1em;
}

.personagem-resposta-desc p span {
  color: var(--cor-secundaria);
}

.personagem {
  display: flex;
  flex-direction: row;
  background-color: var(--cor-terciaria);
  width: 28em;
  height: 17em;
  gap: 1em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.1);
}

.personagem-imagem {
  width: 50%;
}

.personagem-dados {
  width: 50%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
}

.personagem-dados h2 {
  font-size: 1.9em;
  font-weight: 800;
  color: var(--cor-primaria);
}

.personagem-dados p span {
  color: var(--cor-secundaria);
}

#pag {
  display: flex;
  justify-content: space-evenly;
  margin: 5em 0;
  gap: 5%;
  font-weight: 500;
}

#numero-pa {
  font-weight: 500;
}

.btn-page {
  color: var(--cor-primaria);
  padding: 0.5em 1em;
  font-weight: 600;
  font-size: 1em;
}

#pagina-atual {
  display: flex;
  align-items: end;
  margin-top: 5em;
}

#imagem-Rick-and-Morty {
  margin: auto;
  display: flex;
  height: auto;
  width: 30%;
  margin-top: 4%;
  margin-bottom: 4%;
}

footer {
  background-color: var(--cor-footer);
  width: 100%;
  height: 15em;
}

footer span {
  font-weight: 700;
}

#informacoes {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  gap: 5%;
  color: var(--cor-quarta);
}

#desenvolvedor {
  color: var(--cor-quarta);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2%;
}

#redesSociais {
  margin: auto;
  padding: 1.2em;
}

i {
  color: var(--cor-quarta);
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.5em;
}

i:hover {
  font-size: 2.5em;
  color: #12ADC5;
}

#desenvolvedor p {
  margin: auto;
}

.status {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.7em;
  height: 0.9em;
}
.exibirStatus {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: var(--cor-secundaria);
}
